
include LICENSE

include README.md
include requirements.txt
include Risk_notice.txt

include pyproject.toml
include setup.py

recursive-include backpy/assets *

exclude .gitignore
prune tests
prune test

prune __pycache__
prune */__pycache__
prune .github
prune images
prune venv
